Repository danirus/sphinx-nefertiti: changes, and which pre-commit hooks are due for each by the changed paths.
All: js-lint, css-lint-stylelint

.pre-commit-config.yaml:

---
exclude: |
  (?x)(
    ^dist|
    ^sphinx_nefertiti/colorsets|
    ^sphinx_nefertiti/static|
    ^docs/source/static/
  )

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-json
      - id: check-yaml
      - id: check-merge-conflict
      - id: debug-statements
      - id: end-of-file-fixer
      - id: trailing-whitespace
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.1.4
    hooks:
      - id: ruff
        args:
          - "--fix"
      - id: ruff-format

  - repo: local
    hooks:
      - id: js-lint
        name: local-js-lint
        entry: npm run js-lint --
        language: node
        types: [javascript]
      - id: css-lint-stylelint
        name: local-css-lint-stylelint
        entry: npm run css-lint-stylelint --
        language: node
        types: [scss]

Wrap in div to reduce height to actual content
  sphinx_nefertiti/layout.html
Due: none

Update ChangeLog for 0.8.10
  ChangeLog.md
  docs/source/conf.py
Due: none

Use rimraf 6.1.0
  package-lock.json
  package.json
Due: none

fix: resizing toc on view port height change
  js/src/index.js
  js/src/tocresize.js
  js/tests/unit/tocresize.spec.js
  package.json
  sphinx_nefertiti/__init__.py
Due: js-lint

Allow mermaid diagrams to expand in modal
  js/src/index.js
  js/src/mermaid.js
  js/src/tables.js
Due: js-lint

Fix linter issues
  ChangeLog.md
  docs/source/index.rst
  js/src/mermaid.js
Due: js-lint

Added "Last Updated Timestamp" to docs under customization, to support my PR #60
  docs/source/users-guide/customization/index.rst
  docs/source/users-guide/customization/last-updated.rst
Due: none

Hold back modal for Mermaid
  docs/source/conf.py
  docs/source/index.rst
  docs/source/users-guide/components/tables-md.md
  docs/source/users-guide/components/tables-rst.rst
  js/src/index.js
  pyproject.toml
  sphinx_nefertiti/colorsets/sphinx-nefertiti-blue.min.css
  sphinx_nefertiti/colorsets/sphinx-nefertiti-blue.min.css.map
  sphinx_nefertiti/colorsets/sphinx-nefertiti-default.min.css
  sphinx_nefertiti/colorsets/sphinx-nefertiti-default.min.css.map
  sphinx_nefertiti/colorsets/sphinx-nefertiti-green.min.css
  sphinx_nefertiti/colorsets/sphinx-nefertiti-green.min.css.map
  sphinx_nefertiti/colorsets/sphinx-nefertiti-indigo.min.css
  sphinx_nefertiti/colorsets/sphinx-nefertiti-indigo.min.css.map
  sphinx_nefertiti/colorsets/sphinx-nefertiti-orange.min.css
  sphinx_nefertiti/colorsets/sphinx-nefertiti-orange.min.css.map
  sphinx_nefertiti/colorsets/sphinx-nefertiti-pink.min.css
  sphinx_nefertiti/colorsets/sphinx-nefertiti-pink.min.css.map
  sphinx_nefertiti/colorsets/sphinx-nefertiti-purple.min.css
  sphinx_nefertiti/colorsets/sphinx-nefertiti-purple.min.css.map
  sphinx_nefertiti/colorsets/sphinx-nefertiti-red.min.css
  sphinx_nefertiti/colorsets/sphinx-nefertiti-red.min.css.map
  sphinx_nefertiti/colorsets/sphinx-nefertiti-teal.min.css
  sphinx_nefertiti/colorsets/sphinx-nefertiti-teal.min.css.map
  sphinx_nefertiti/colorsets/sphinx-nefertiti-yellow.min.css
  sphinx_nefertiti/colorsets/sphinx-nefertiti-yellow.min.css.map
  sphinx_nefertiti/static/sphinx-nefertiti.min.js
  sphinx_nefertiti/static/sphinx-nefertiti.min.js.map
Due: js-lint

Fix end of file for last-updated.rst
  docs/source/users-guide/customization/last-updated.rst
Due: none

Keep table header visible at the top inside modal
  .stylelintrc.json
  js/src/tables.js
  scss/_layout.scss
  scss/components/_docutils.scss
  scss/components/_navbar.scss
  scss/components/_toc.scss
Due: js-lint, css-lint-stylelint

Prepare release 0.9.0
  ChangeLog.md
  docs/source/conf.py
  docs/source/users-guide/components/tables-md.md
  docs/source/users-guide/components/tables-rst.rst
  docs/source/users-guide/components/tables.md
  package-lock.json
  sphinx_nefertiti/colorsets/sphinx-nefertiti-blue.min.css
  sphinx_nefertiti/colorsets/sphinx-nefertiti-blue.min.css.map
  sphinx_nefertiti/colorsets/sphinx-nefertiti-default.min.css
  sphinx_nefertiti/colorsets/sphinx-nefertiti-default.min.css.map
  sphinx_nefertiti/colorsets/sphinx-nefertiti-green.min.css
  sphinx_nefertiti/colorsets/sphinx-nefertiti-green.min.css.map
  sphinx_nefertiti/colorsets/sphinx-nefertiti-indigo.min.css
  sphinx_nefertiti/colorsets/sphinx-nefertiti-indigo.min.css.map
  sphinx_nefertiti/colorsets/sphinx-nefertiti-orange.min.css
  sphinx_nefertiti/colorsets/sphinx-nefertiti-orange.min.css.map
  sphinx_nefertiti/colorsets/sphinx-nefertiti-pink.min.css
  sphinx_nefertiti/colorsets/sphinx-nefertiti-pink.min.css.map
  sphinx_nefertiti/colorsets/sphinx-nefertiti-purple.min.css
  sphinx_nefertiti/colorsets/sphinx-nefertiti-purple.min.css.map
  sphinx_nefertiti/colorsets/sphinx-nefertiti-red.min.css
  sphinx_nefertiti/colorsets/sphinx-nefertiti-red.min.css.map
  sphinx_nefertiti/colorsets/sphinx-nefertiti-teal.min.css
  sphinx_nefertiti/colorsets/sphinx-nefertiti-teal.min.css.map
  sphinx_nefertiti/colorsets/sphinx-nefertiti-yellow.min.css
  sphinx_nefertiti/colorsets/sphinx-nefertiti-yellow.min.css.map
  sphinx_nefertiti/modal.html
  sphinx_nefertiti/static/sphinx-nefertiti.min.js
  sphinx_nefertiti/static/sphinx-nefertiti.min.js.map
Due: none

Fixed extention name (hyphens) and included extension URL
  docs/source/users-guide/customization/last-updated.rst
Due: none

Start with resize-grip widget
  js/src/tocresize.js
  scss/_theme.scss
  sphinx_nefertiti/layout.html
Due: js-lint, css-lint-stylelint

Prepare release 0.9.2
  ChangeLog.md
  docs/source/users-guide/components/tables-md.md
  docs/source/users-guide/components/tables.md
  docs/source/users-guide/customization/modal-window.rst
  js/src/tables.js
  package.json
  scss/components/_docutils.scss
  sphinx_nefertiti/__init__.py
  sphinx_nefertiti/colorsets/sphinx-nefertiti-blue.min.css
  sphinx_nefertiti/colorsets/sphinx-nefertiti-blue.min.css.map
  sphinx_nefertiti/colorsets/sphinx-nefertiti-default.min.css
  sphinx_nefertiti/colorsets/sphinx-nefertiti-default.min.css.map
  sphinx_nefertiti/colorsets/sphinx-nefertiti-green.min.css
  sphinx_nefertiti/colorsets/sphinx-nefertiti-green.min.css.map
  sphinx_nefertiti/colorsets/sphinx-nefertiti-indigo.min.css
  sphinx_nefertiti/colorsets/sphinx-nefertiti-indigo.min.css.map
  sphinx_nefertiti/colorsets/sphinx-nefertiti-orange.min.css
  sphinx_nefertiti/colorsets/sphinx-nefertiti-orange.min.css.map
  sphinx_nefertiti/colorsets/sphinx-nefertiti-pink.min.css
  sphinx_nefertiti/colorsets/sphinx-nefertiti-pink.min.css.map
  sphinx_nefertiti/colorsets/sphinx-nefertiti-purple.min.css
  sphinx_nefertiti/colorsets/sphinx-nefertiti-purple.min.css.map
  sphinx_nefertiti/colorsets/sphinx-nefertiti-red.min.css
  sphinx_nefertiti/colorsets/sphinx-nefertiti-red.min.css.map
  sphinx_nefertiti/colorsets/sphinx-nefertiti-teal.min.css
  sphinx_nefertiti/colorsets/sphinx-nefertiti-teal.min.css.map
  sphinx_nefertiti/colorsets/sphinx-nefertiti-yellow.min.css
  sphinx_nefertiti/colorsets/sphinx-nefertiti-yellow.min.css.map
  sphinx_nefertiti/static/sphinx-nefertiti.min.js
  sphinx_nefertiti/static/sphinx-nefertiti.min.js.map
Due: js-lint, css-lint-stylelint

Fix lint issues
  scss/components/_docutils.scss
Due: css-lint-stylelint

Open up dependency version range
  pyproject.toml
  sphinx_nefertiti/colorsets/sphinx-nefertiti-blue.min.css
  sphinx_nefertiti/colorsets/sphinx-nefertiti-blue.min.css.map
  sphinx_nefertiti/colorsets/sphinx-nefertiti-default.min.css
  sphinx_nefertiti/colorsets/sphinx-nefertiti-default.min.css.map
  sphinx_nefertiti/colorsets/sphinx-nefertiti-green.min.css
  sphinx_nefertiti/colorsets/sphinx-nefertiti-green.min.css.map
  sphinx_nefertiti/colorsets/sphinx-nefertiti-indigo.min.css
  sphinx_nefertiti/colorsets/sphinx-nefertiti-indigo.min.css.map
  sphinx_nefertiti/colorsets/sphinx-nefertiti-orange.min.css
  sphinx_nefertiti/colorsets/sphinx-nefertiti-orange.min.css.map
  sphinx_nefertiti/colorsets/sphinx-nefertiti-pink.min.css
  sphinx_nefertiti/colorsets/sphinx-nefertiti-pink.min.css.map
  sphinx_nefertiti/colorsets/sphinx-nefertiti-purple.min.css
  sphinx_nefertiti/colorsets/sphinx-nefertiti-purple.min.css.map
  sphinx_nefertiti/colorsets/sphinx-nefertiti-red.min.css
  sphinx_nefertiti/colorsets/sphinx-nefertiti-red.min.css.map
  sphinx_nefertiti/colorsets/sphinx-nefertiti-teal.min.css
  sphinx_nefertiti/colorsets/sphinx-nefertiti-teal.min.css.map
  sphinx_nefertiti/colorsets/sphinx-nefertiti-yellow.min.css
  sphinx_nefertiti/colorsets/sphinx-nefertiti-yellow.min.css.map
Due: none

Fixes ticket-97
  ChangeLog.md
  docs/source/conf.py
  js/src/tocresize.js
  js/tests/karma.conf.js
  js/tests/unit/pagetoc.spec.js
  js/tests/unit/tocresize.spec.js
  package.json
  scss/_layout.scss
  scss/components/_toc.scss
  sphinx_nefertiti/__init__.py
  sphinx_nefertiti/colorsets/sphinx-nefertiti-blue.min.css
  sphinx_nefertiti/colorsets/sphinx-nefertiti-blue.min.css.map
  sphinx_nefertiti/colorsets/sphinx-nefertiti-default.min.css
  sphinx_nefertiti/colorsets/sphinx-nefertiti-default.min.css.map
  sphinx_nefertiti/colorsets/sphinx-nefertiti-green.min.css
  sphinx_nefertiti/colorsets/sphinx-nefertiti-green.min.css.map
  sphinx_nefertiti/colorsets/sphinx-nefertiti-indigo.min.css
  sphinx_nefertiti/colorsets/sphinx-nefertiti-indigo.min.css.map
  sphinx_nefertiti/colorsets/sphinx-nefertiti-orange.min.css
  sphinx_nefertiti/colorsets/sphinx-nefertiti-orange.min.css.map
  sphinx_nefertiti/colorsets/sphinx-nefertiti-pink.min.css
  sphinx_nefertiti/colorsets/sphinx-nefertiti-pink.min.css.map
  sphinx_nefertiti/colorsets/sphinx-nefertiti-purple.min.css
  sphinx_nefertiti/colorsets/sphinx-nefertiti-purple.min.css.map
  sphinx_nefertiti/colorsets/sphinx-nefertiti-red.min.css
  sphinx_nefertiti/colorsets/sphinx-nefertiti-red.min.css.map
  sphinx_nefertiti/colorsets/sphinx-nefertiti-teal.min.css
  sphinx_nefertiti/colorsets/sphinx-nefertiti-teal.min.css.map
  sphinx_nefertiti/colorsets/sphinx-nefertiti-yellow.min.css
  sphinx_nefertiti/colorsets/sphinx-nefertiti-yellow.min.css.map
  sphinx_nefertiti/layout.html
  sphinx_nefertiti/pager.html
  sphinx_nefertiti/static/sphinx-nefertiti.min.js
  sphinx_nefertiti/static/sphinx-nefertiti.min.js.map
Due: js-lint, css-lint-stylelint

Add css-variables to the docs
  .stylelintrc.json
  ChangeLog.md
  docs/source/conf.py
  docs/source/quick-start.rst
  docs/source/static/custom.css
  docs/source/users-guide/customization/css-variables.md
  docs/source/users-guide/customization/fonts.rst
  docs/source/users-guide/customization/index.rst
  docs/source/users-guide/customization/last-updated.rst
  docs/source/users-guide/theme-options.rst
  package.json
  scss/_layout.scss
  scss/_root.scss
  scss/_theme.scss
  scss/components/_docutils.scss
  scss/components/_toc.scss
  sphinx_nefertiti/__init__.py
  sphinx_nefertiti/colorsets/sphinx-nefertiti-blue.min.css
  sphinx_nefertiti/colorsets/sphinx-nefertiti-blue.min.css.map
  sphinx_nefertiti/colorsets/sphinx-nefertiti-default.min.css
  sphinx_nefertiti/colorsets/sphinx-nefertiti-default.min.css.map
  sphinx_nefertiti/colorsets/sphinx-nefertiti-green.min.css
  sphinx_nefertiti/colorsets/sphinx-nefertiti-green.min.css.map
  sphinx_nefertiti/colorsets/sphinx-nefertiti-indigo.min.css
  sphinx_nefertiti/colorsets/sphinx-nefertiti-indigo.min.css.map
  sphinx_nefertiti/colorsets/sphinx-nefertiti-orange.min.css
  sphinx_nefertiti/colorsets/sphinx-nefertiti-orange.min.css.map
  sphinx_nefertiti/colorsets/sphinx-nefertiti-pink.min.css
  sphinx_nefertiti/colorsets/sphinx-nefertiti-pink.min.css.map
  sphinx_nefertiti/colorsets/sphinx-nefertiti-purple.min.css
  sphinx_nefertiti/colorsets/sphinx-nefertiti-purple.min.css.map
  sphinx_nefertiti/colorsets/sphinx-nefertiti-red.min.css
  sphinx_nefertiti/colorsets/sphinx-nefertiti-red.min.css.map
  sphinx_nefertiti/colorsets/sphinx-nefertiti-teal.min.css
  sphinx_nefertiti/colorsets/sphinx-nefertiti-teal.min.css.map
  sphinx_nefertiti/colorsets/sphinx-nefertiti-yellow.min.css
  sphinx_nefertiti/colorsets/sphinx-nefertiti-yellow.min.css.map
  sphinx_nefertiti/layout.html
Due: css-lint-stylelint
