Repository danirus/sphinx-nefertiti: changes, and which pre-commit hooks are due for each by the changed paths.
All: js-lint, css-lint-stylelint

.pre-commit-config.yaml:

---
exclude: |
  (?x)(
    ^dist|
    ^sphinx_nefertiti/colorsets|
    ^sphinx_nefertiti/static|
    ^docs/source/static/
  )

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-json
      - id: check-yaml
      - id: check-merge-conflict
      - id: debug-statements
      - id: end-of-file-fixer
      - id: trailing-whitespace
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.1.4
    hooks:
      - id: ruff
        args:
          - "--fix"
      - id: ruff-format

  - repo: local
    hooks:
      - id: js-lint
        name: local-js-lint
        entry: npm run js-lint --
        language: node
        types: [javascript]
      - id: css-lint-stylelint
        name: local-css-lint-stylelint
        entry: npm run css-lint-stylelint --
        language: node
        types: [scss]

fix small issue in JS plugin
  ChangeLog.md
  docs/source/conf.py
  js/src/locales.js
  package.json
  sphinx_nefertiti/__init__.py
  sphinx_nefertiti/static/sphinx-nefertiti.min.js
  sphinx_nefertiti/static/sphinx-nefertiti.min.js.map
  sphinx_nefertiti/theme.conf
Due: js-lint

Fix test case on default monospace font change
  tests/test_sample_projects.py
Due: none

Includes 'theme-color' meta tag
  ChangeLog.md
  package.json
  sphinx_nefertiti/__init__.py
  sphinx_nefertiti/colorsets.py
  sphinx_nefertiti/layout.html
Due: none

Fixes issue 66
  ChangeLog.md
  coverage.svg
  package.json
  sphinx_nefertiti/__init__.py
  sphinx_nefertiti/colorsets.py
  sphinx_nefertiti/colorsets/sphinx-nefertiti-blue.min.css.map
  sphinx_nefertiti/colorsets/sphinx-nefertiti-default.min.css.map
  sphinx_nefertiti/colorsets/sphinx-nefertiti-green.min.css.map
  sphinx_nefertiti/colorsets/sphinx-nefertiti-indigo.min.css.map
  sphinx_nefertiti/colorsets/sphinx-nefertiti-orange.min.css.map
  sphinx_nefertiti/colorsets/sphinx-nefertiti-pink.min.css.map
  sphinx_nefertiti/colorsets/sphinx-nefertiti-purple.min.css.map
  sphinx_nefertiti/colorsets/sphinx-nefertiti-red.min.css.map
  sphinx_nefertiti/colorsets/sphinx-nefertiti-teal.min.css.map
  sphinx_nefertiti/colorsets/sphinx-nefertiti-yellow.min.css.map
  tests/sample_prj_1/index.rst
  tests/test_sample_projects.py
Due: none

Fixes non-functional search result URLs ("undefined") per <https://github.com/sphinx-doc/sphinx/commit/8e730ae303ae686705ea12f44ef11da926a87cf5>
  sphinx_nefertiti/layout.html
Due: none

Add CSS class
  docs/source/quick-start.rst
  scss/_root.scss
  scss/_utilities.scss
  scss/_variables-blue.scss
  scss/_variables-cyan.scss
  scss/_variables-green.scss
  scss/_variables-indigo.scss
  scss/_variables-orange.scss
  scss/_variables-pink.scss
  scss/_variables-purple.scss
  scss/_variables-red.scss
  scss/_variables-teal.scss
  scss/_variables-yellow.scss
  sphinx_nefertiti/__init__.py
  sphinx_nefertiti/colorsets/sphinx-nefertiti-blue.min.css
  sphinx_nefertiti/colorsets/sphinx-nefertiti-blue.min.css.map
  sphinx_nefertiti/colorsets/sphinx-nefertiti-default.min.css
  sphinx_nefertiti/colorsets/sphinx-nefertiti-default.min.css.map
  sphinx_nefertiti/colorsets/sphinx-nefertiti-green.min.css
  sphinx_nefertiti/colorsets/sphinx-nefertiti-green.min.css.map
  sphinx_nefertiti/colorsets/sphinx-nefertiti-indigo.min.css
  sphinx_nefertiti/colorsets/sphinx-nefertiti-indigo.min.css.map
  sphinx_nefertiti/colorsets/sphinx-nefertiti-orange.min.css
  sphinx_nefertiti/colorsets/sphinx-nefertiti-orange.min.css.map
  sphinx_nefertiti/colorsets/sphinx-nefertiti-pink.min.css
  sphinx_nefertiti/colorsets/sphinx-nefertiti-pink.min.css.map
  sphinx_nefertiti/colorsets/sphinx-nefertiti-purple.min.css
  sphinx_nefertiti/colorsets/sphinx-nefertiti-purple.min.css.map
  sphinx_nefertiti/colorsets/sphinx-nefertiti-red.min.css
  sphinx_nefertiti/colorsets/sphinx-nefertiti-red.min.css.map
  sphinx_nefertiti/colorsets/sphinx-nefertiti-teal.min.css
  sphinx_nefertiti/colorsets/sphinx-nefertiti-teal.min.css.map
  sphinx_nefertiti/colorsets/sphinx-nefertiti-yellow.min.css
  sphinx_nefertiti/colorsets/sphinx-nefertiti-yellow.min.css.map
  sphinx_nefertiti/pygments.py
Due: css-lint-stylelint

Prepare release 0.8.4
  ChangeLog.md
  package.json
  sphinx_nefertiti/__init__.py
Due: none

Add theme option 'project_short'
  docs/source/conf.py
  docs/source/quick-start.rst
  docs/source/users-guide/customization/colorsets.rst
  docs/source/users-guide/customization/fonts.rst
  docs/source/users-guide/customization/pygments.rst
  docs/source/users-guide/index.rst
  docs/source/users-guide/localization.rst
  scss/_layout.scss
  scss/components/_navbar.scss
  sphinx_nefertiti/colorsets/colorsets.js
  sphinx_nefertiti/footer.html
  sphinx_nefertiti/globaltoc.html
  sphinx_nefertiti/layout.html
  sphinx_nefertiti/theme.conf
  tests/test_sample_projects.py
Due: css-lint-stylelint

Prepare release 0.8.5
  ChangeLog.md
  docs/source/users-guide/img/header-small-screen.png
  docs/source/users-guide/img/option-logo.png
  docs/source/users-guide/img/option-project_name_font.png
  docs/source/users-guide/img/option-project_short.png
  docs/source/users-guide/img/option-project_short_name.dark.png
  docs/source/users-guide/img/option-project_short_name.light.png
  docs/source/users-guide/img/setting-project-unhcr.png
  docs/source/users-guide/theme-options.rst
  package.json
  scss/components/_navbar.scss
  sphinx_nefertiti/__init__.py
  sphinx_nefertiti/colorsets/sphinx-nefertiti-blue.min.css
  sphinx_nefertiti/colorsets/sphinx-nefertiti-blue.min.css.map
  sphinx_nefertiti/colorsets/sphinx-nefertiti-default.min.css
  sphinx_nefertiti/colorsets/sphinx-nefertiti-default.min.css.map
  sphinx_nefertiti/colorsets/sphinx-nefertiti-green.min.css
  sphinx_nefertiti/colorsets/sphinx-nefertiti-green.min.css.map
  sphinx_nefertiti/colorsets/sphinx-nefertiti-indigo.min.css
  sphinx_nefertiti/colorsets/sphinx-nefertiti-indigo.min.css.map
  sphinx_nefertiti/colorsets/sphinx-nefertiti-orange.min.css
  sphinx_nefertiti/colorsets/sphinx-nefertiti-orange.min.css.map
  sphinx_nefertiti/colorsets/sphinx-nefertiti-pink.min.css
  sphinx_nefertiti/colorsets/sphinx-nefertiti-pink.min.css.map
  sphinx_nefertiti/colorsets/sphinx-nefertiti-purple.min.css
  sphinx_nefertiti/colorsets/sphinx-nefertiti-purple.min.css.map
  sphinx_nefertiti/colorsets/sphinx-nefertiti-red.min.css
  sphinx_nefertiti/colorsets/sphinx-nefertiti-red.min.css.map
  sphinx_nefertiti/colorsets/sphinx-nefertiti-teal.min.css
  sphinx_nefertiti/colorsets/sphinx-nefertiti-teal.min.css.map
  sphinx_nefertiti/colorsets/sphinx-nefertiti-yellow.min.css
  sphinx_nefertiti/colorsets/sphinx-nefertiti-yellow.min.css.map
  sphinx_nefertiti/layout.html
  sphinx_nefertiti/theme.conf
Due: css-lint-stylelint

Use blue without neutral header
  docs/source/conf.py
Due: none

Update ChangeLog
  ChangeLog.md
Due: none

fix multi-line func docs
  README.md
  package-lock.json
  scss/components/_code.scss
Due: css-lint-stylelint

fix css npm bug and update code.scss
  README.md
  docs/source/conf.py
  docs/source/users-guide/components/code-blocks.rst
  package.json
  scss/components/_code.scss
  sphinx_nefertiti/static/bootstrap-icons.css
  sphinx_nefertiti/static/nftt-pygments.css
  sphinx_nefertiti/static/nftt-pygments.min.css
  sphinx_nefertiti/static/pygments.css
  sphinx_nefertiti/static/pygments_dark.css
  sphinx_nefertiti/static/sphinx-nefertiti-blue.css
  sphinx_nefertiti/static/sphinx-nefertiti-blue.min.css
  sphinx_nefertiti/static/sphinx-nefertiti-default.css
  sphinx_nefertiti/static/sphinx-nefertiti-default.min.css
  sphinx_nefertiti/static/sphinx-nefertiti-green.css
  sphinx_nefertiti/static/sphinx-nefertiti-green.min.css
  sphinx_nefertiti/static/sphinx-nefertiti-indigo.css
  sphinx_nefertiti/static/sphinx-nefertiti-indigo.min.css
  sphinx_nefertiti/static/sphinx-nefertiti-orange.css
  sphinx_nefertiti/static/sphinx-nefertiti-orange.min.css
  sphinx_nefertiti/static/sphinx-nefertiti-pink.css
  sphinx_nefertiti/static/sphinx-nefertiti-pink.min.css
  sphinx_nefertiti/static/sphinx-nefertiti-purple.css
  sphinx_nefertiti/static/sphinx-nefertiti-purple.min.css
  sphinx_nefertiti/static/sphinx-nefertiti-red.css
  sphinx_nefertiti/static/sphinx-nefertiti-red.min.css
  sphinx_nefertiti/static/sphinx-nefertiti-teal.css
  sphinx_nefertiti/static/sphinx-nefertiti-teal.min.css
  sphinx_nefertiti/static/sphinx-nefertiti-yellow.css
  sphinx_nefertiti/static/sphinx-nefertiti-yellow.min.css
Due: css-lint-stylelint

Fixes #75: observe '#content DL DT' too
  js/src/pagetoc.js
  js/tests/unit/pagetoc.spec.js
Due: js-lint

Prepare v0.8.6
  ChangeLog.md
  package.json
  sphinx_nefertiti/__init__.py
  sphinx_nefertiti/colorsets/sphinx-nefertiti-blue.min.css
  sphinx_nefertiti/colorsets/sphinx-nefertiti-blue.min.css.map
  sphinx_nefertiti/colorsets/sphinx-nefertiti-default.min.css
  sphinx_nefertiti/colorsets/sphinx-nefertiti-default.min.css.map
  sphinx_nefertiti/colorsets/sphinx-nefertiti-green.min.css
  sphinx_nefertiti/colorsets/sphinx-nefertiti-green.min.css.map
  sphinx_nefertiti/colorsets/sphinx-nefertiti-indigo.min.css
  sphinx_nefertiti/colorsets/sphinx-nefertiti-indigo.min.css.map
  sphinx_nefertiti/colorsets/sphinx-nefertiti-orange.min.css
  sphinx_nefertiti/colorsets/sphinx-nefertiti-orange.min.css.map
  sphinx_nefertiti/colorsets/sphinx-nefertiti-pink.min.css
  sphinx_nefertiti/colorsets/sphinx-nefertiti-pink.min.css.map
  sphinx_nefertiti/colorsets/sphinx-nefertiti-purple.min.css
  sphinx_nefertiti/colorsets/sphinx-nefertiti-purple.min.css.map
  sphinx_nefertiti/colorsets/sphinx-nefertiti-red.min.css
  sphinx_nefertiti/colorsets/sphinx-nefertiti-red.min.css.map
  sphinx_nefertiti/colorsets/sphinx-nefertiti-teal.min.css
  sphinx_nefertiti/colorsets/sphinx-nefertiti-teal.min.css.map
  sphinx_nefertiti/colorsets/sphinx-nefertiti-yellow.min.css
  sphinx_nefertiti/colorsets/sphinx-nefertiti-yellow.min.css.map
  sphinx_nefertiti/static/sphinx-nefertiti.min.js
  sphinx_nefertiti/static/sphinx-nefertiti.min.js.map
Due: none

README: Fix links in Development section
  README.md
Due: none

Implements new theme option logo_location
  ChangeLog.md
  docs/source/index.rst
  docs/source/users-guide/img/option-logo_location.dark.png
  docs/source/users-guide/img/option-logo_location.light.png
  docs/source/users-guide/theme-options.rst
  package.json
  sphinx_nefertiti/__init__.py
  sphinx_nefertiti/globaltoc.html
  sphinx_nefertiti/layout.html
  sphinx_nefertiti/theme.conf
Due: none

new package-lock.json for 0.8.7
  package-lock.json
Due: none

Use bootstrap 5.3.8, delete style attr globaltoc.html
  ChangeLog.md
  package.json
  sphinx_nefertiti/__init__.py
  sphinx_nefertiti/colorsets/sphinx-nefertiti-blue.min.css
  sphinx_nefertiti/colorsets/sphinx-nefertiti-blue.min.css.map
  sphinx_nefertiti/colorsets/sphinx-nefertiti-default.min.css
  sphinx_nefertiti/colorsets/sphinx-nefertiti-default.min.css.map
  sphinx_nefertiti/colorsets/sphinx-nefertiti-green.min.css
  sphinx_nefertiti/colorsets/sphinx-nefertiti-green.min.css.map
  sphinx_nefertiti/colorsets/sphinx-nefertiti-indigo.min.css
  sphinx_nefertiti/colorsets/sphinx-nefertiti-indigo.min.css.map
  sphinx_nefertiti/colorsets/sphinx-nefertiti-orange.min.css
  sphinx_nefertiti/colorsets/sphinx-nefertiti-orange.min.css.map
  sphinx_nefertiti/colorsets/sphinx-nefertiti-pink.min.css
  sphinx_nefertiti/colorsets/sphinx-nefertiti-pink.min.css.map
  sphinx_nefertiti/colorsets/sphinx-nefertiti-purple.min.css
  sphinx_nefertiti/colorsets/sphinx-nefertiti-purple.min.css.map
  sphinx_nefertiti/colorsets/sphinx-nefertiti-red.min.css
  sphinx_nefertiti/colorsets/sphinx-nefertiti-red.min.css.map
  sphinx_nefertiti/colorsets/sphinx-nefertiti-teal.min.css
  sphinx_nefertiti/colorsets/sphinx-nefertiti-teal.min.css.map
  sphinx_nefertiti/colorsets/sphinx-nefertiti-yellow.min.css
  sphinx_nefertiti/colorsets/sphinx-nefertiti-yellow.min.css.map
  sphinx_nefertiti/globaltoc.html
  sphinx_nefertiti/static/bootstrap.bundle.min.js
Due: none

Fixes #83: autodoc x-overflow for <pre>
  ChangeLog.md
  package-lock.json
  package.json
  scss/_layout.scss
  scss/_utilities.scss
  sphinx_nefertiti/__init__.py
  sphinx_nefertiti/colorsets/sphinx-nefertiti-blue.min.css
  sphinx_nefertiti/colorsets/sphinx-nefertiti-blue.min.css.map
  sphinx_nefertiti/colorsets/sphinx-nefertiti-default.min.css
  sphinx_nefertiti/colorsets/sphinx-nefertiti-default.min.css.map
  sphinx_nefertiti/colorsets/sphinx-nefertiti-green.min.css
  sphinx_nefertiti/colorsets/sphinx-nefertiti-green.min.css.map
  sphinx_nefertiti/colorsets/sphinx-nefertiti-indigo.min.css
  sphinx_nefertiti/colorsets/sphinx-nefertiti-indigo.min.css.map
  sphinx_nefertiti/colorsets/sphinx-nefertiti-orange.min.css
  sphinx_nefertiti/colorsets/sphinx-nefertiti-orange.min.css.map
  sphinx_nefertiti/colorsets/sphinx-nefertiti-pink.min.css
  sphinx_nefertiti/colorsets/sphinx-nefertiti-pink.min.css.map
  sphinx_nefertiti/colorsets/sphinx-nefertiti-purple.min.css
  sphinx_nefertiti/colorsets/sphinx-nefertiti-purple.min.css.map
  sphinx_nefertiti/colorsets/sphinx-nefertiti-red.min.css
  sphinx_nefertiti/colorsets/sphinx-nefertiti-red.min.css.map
  sphinx_nefertiti/colorsets/sphinx-nefertiti-teal.min.css
  sphinx_nefertiti/colorsets/sphinx-nefertiti-teal.min.css.map
  sphinx_nefertiti/colorsets/sphinx-nefertiti-yellow.min.css
  sphinx_nefertiti/colorsets/sphinx-nefertiti-yellow.min.css.map
Due: css-lint-stylelint

Update the docs with
  docs/source/users-guide/img/option-logo_location.dark.png
  docs/source/users-guide/img/option-logo_location.light.png
  docs/source/users-guide/theme-options.rst
Due: none

Update docs deps, and ChangeLog date for 0.8.9
  ChangeLog.md
  pyproject.toml
Due: none

fix: resizing toc on view port height change
  js/src/index.js
  js/src/tocresize.js
  js/tests/unit/tocresize.spec.js
  package.json
  sphinx_nefertiti/__init__.py
Due: js-lint
