Repository danirus/sphinx-nefertiti: changes, and which pre-commit hooks are due for each by the changed paths.
All: js-lint, css-lint-stylelint

js-lint:
  name: local-js-lint
  entry: npm run js-lint --
  language: node

css-lint-stylelint:
  name: local-css-lint-stylelint
  entry: npm run css-lint-stylelint --
  language: node

Update bundles
  package-lock.json
  package.json
  scss/_root.scss
  sphinx_nefertiti/colorsets/sphinx-nefertiti-blue.min.css.map
  sphinx_nefertiti/colorsets/sphinx-nefertiti-default.min.css.map
  sphinx_nefertiti/colorsets/sphinx-nefertiti-green.min.css.map
  sphinx_nefertiti/colorsets/sphinx-nefertiti-indigo.min.css.map
  sphinx_nefertiti/colorsets/sphinx-nefertiti-orange.min.css.map
  sphinx_nefertiti/colorsets/sphinx-nefertiti-pink.min.css.map
  sphinx_nefertiti/colorsets/sphinx-nefertiti-purple.min.css.map
  sphinx_nefertiti/colorsets/sphinx-nefertiti-red.min.css.map
  sphinx_nefertiti/colorsets/sphinx-nefertiti-teal.min.css.map
  sphinx_nefertiti/colorsets/sphinx-nefertiti-yellow.min.css.map
  sphinx_nefertiti/static/sphinx-nefertiti.min.js
  sphinx_nefertiti/static/sphinx-nefertiti.min.js.map
Due: css-lint-stylelint

Update README
  .github/workflows/tests.yaml
  README.md
Due: none

Stylelint changes
  scss/_layout.scss
  scss/_mixins.scss
Due: css-lint-stylelint

JS Lint changes
  js/src/versions.js
  js/tests/karma.conf.js
Due: js-lint

Add missing images
  README.md
  docs/source/static/img/colorsets.png
  docs/source/static/img/index-filtering-1.png
  docs/source/static/img/index-filtering-2.png
  docs/source/static/img/toc.png
Due: none

Fix .readthedocs.yaml
  .readthedocs.yaml
Due: none

Wip fixing RTD builds
  docs/source/conf.py
Due: none

Output content of build static dir
  docs/source/conf.py
  sphinx_nefertiti/__init__.py
Due: none

Output content of build static dir (with logger)
  sphinx_nefertiti/__init__.py
Due: none

Update dep required version
  pyproject.toml
Due: none

Self referencing in [docs]
  pyproject.toml
Due: none

Use requirements file with Readthedocs
  .readthedocs.yaml
  docs/requirements.txt
  requirements-docs.txt
Due: none

Move focs requirements file to ./docs-deps.txt
  .readthedocs.yaml
  docs-deps.txt
Due: none

Text readthedocs with explicit version of Nefertiti
  docs-deps.txt
Due: none

Wip to fix issues building 5.0 (in RTD)
  .readthedocs.yaml
  ChangeLog.md
  coverage.svg
  docs/source/conf.py
  docs/source/users-guide/customization/footer-links.rst
  docs/source/users-guide/customization/header-links.rst
  pyproject.toml
  sphinx_nefertiti/footer.html
  sphinx_nefertiti/header-links.html
  sphinx_nefertiti/links.py
Due: none

Remove nefertiti from extensions
  ChangeLog.md
  docs/source/conf.py
Due: none

Add 'sphinx_nefertiti' as an extension
  docs/source/conf.py
Due: none

Prepare release 0.5.1
  docs/source/users-guide/customization/colorsets.rst
  package.json
  sphinx_nefertiti/__init__.py
Due: none

Fix issue when selecting active header link
  js/src/navbar.js
  sphinx_nefertiti/__init__.py
  sphinx_nefertiti/colorsets/sphinx-nefertiti-blue.min.css
  sphinx_nefertiti/colorsets/sphinx-nefertiti-blue.min.css.map
  sphinx_nefertiti/colorsets/sphinx-nefertiti-default.min.css
  sphinx_nefertiti/colorsets/sphinx-nefertiti-default.min.css.map
  sphinx_nefertiti/colorsets/sphinx-nefertiti-green.min.css
  sphinx_nefertiti/colorsets/sphinx-nefertiti-green.min.css.map
  sphinx_nefertiti/colorsets/sphinx-nefertiti-indigo.min.css
  sphinx_nefertiti/colorsets/sphinx-nefertiti-indigo.min.css.map
  sphinx_nefertiti/colorsets/sphinx-nefertiti-orange.min.css
  sphinx_nefertiti/colorsets/sphinx-nefertiti-orange.min.css.map
  sphinx_nefertiti/colorsets/sphinx-nefertiti-pink.min.css
  sphinx_nefertiti/colorsets/sphinx-nefertiti-pink.min.css.map
  sphinx_nefertiti/colorsets/sphinx-nefertiti-purple.min.css
  sphinx_nefertiti/colorsets/sphinx-nefertiti-purple.min.css.map
  sphinx_nefertiti/colorsets/sphinx-nefertiti-red.min.css
  sphinx_nefertiti/colorsets/sphinx-nefertiti-red.min.css.map
  sphinx_nefertiti/colorsets/sphinx-nefertiti-teal.min.css
  sphinx_nefertiti/colorsets/sphinx-nefertiti-teal.min.css.map
  sphinx_nefertiti/colorsets/sphinx-nefertiti-yellow.min.css
  sphinx_nefertiti/colorsets/sphinx-nefertiti-yellow.min.css.map
  sphinx_nefertiti/static/sphinx-nefertiti.min.js
  sphinx_nefertiti/static/sphinx-nefertiti.min.js.map
Due: js-lint

Wip to fix issues building 5.0 (in RTD) (#43)
  .readthedocs.yaml
  ChangeLog.md
  coverage.svg
  docs/source/conf.py
  docs/source/users-guide/customization/colorsets.rst
  docs/source/users-guide/customization/footer-links.rst
  docs/source/users-guide/customization/header-links.rst
  js/src/navbar.js
  package.json
  pyproject.toml
  sphinx_nefertiti/__init__.py
  sphinx_nefertiti/colorsets/sphinx-nefertiti-blue.min.css
  sphinx_nefertiti/colorsets/sphinx-nefertiti-blue.min.css.map
  sphinx_nefertiti/colorsets/sphinx-nefertiti-default.min.css
  sphinx_nefertiti/colorsets/sphinx-nefertiti-default.min.css.map
  sphinx_nefertiti/colorsets/sphinx-nefertiti-green.min.css
  sphinx_nefertiti/colorsets/sphinx-nefertiti-green.min.css.map
  sphinx_nefertiti/colorsets/sphinx-nefertiti-indigo.min.css
  sphinx_nefertiti/colorsets/sphinx-nefertiti-indigo.min.css.map
  sphinx_nefertiti/colorsets/sphinx-nefertiti-orange.min.css
  sphinx_nefertiti/colorsets/sphinx-nefertiti-orange.min.css.map
  sphinx_nefertiti/colorsets/sphinx-nefertiti-pink.min.css
  sphinx_nefertiti/colorsets/sphinx-nefertiti-pink.min.css.map
  sphinx_nefertiti/colorsets/sphinx-nefertiti-purple.min.css
  sphinx_nefertiti/colorsets/sphinx-nefertiti-purple.min.css.map
  sphinx_nefertiti/colorsets/sphinx-nefertiti-red.min.css
  sphinx_nefertiti/colorsets/sphinx-nefertiti-red.min.css.map
  sphinx_nefertiti/colorsets/sphinx-nefertiti-teal.min.css
  sphinx_nefertiti/colorsets/sphinx-nefertiti-teal.min.css.map
  sphinx_nefertiti/colorsets/sphinx-nefertiti-yellow.min.css
  sphinx_nefertiti/colorsets/sphinx-nefertiti-yellow.min.css.map
  sphinx_nefertiti/footer.html
  sphinx_nefertiti/header-links.html
  sphinx_nefertiti/links.py
  sphinx_nefertiti/static/sphinx-nefertiti.min.js
  sphinx_nefertiti/static/sphinx-nefertiti.min.js.map
Due: js-lint

Update ChangeLog
  ChangeLog.md
Due: none

Require v0.5.1 to build the docs
  pyproject.toml
Due: none

Fix Readthedocs URL for other versions
  docs/source/conf.py
Due: none

Prepare release 0.5.2
  ChangeLog.md
  docs/source/users-guide/customization/colorsets.rst
  js/src/cschemes.js
  package.json
  pyproject.toml
  scss/_variables-blue.scss
  scss/_variables-cyan.scss
  scss/_variables-green.scss
  scss/_variables-indigo.scss
  scss/_variables-orange.scss
  scss/_variables-pink.scss
  scss/_variables-purple.scss
  scss/_variables-red.scss
  scss/_variables-teal.scss
  scss/_variables-yellow.scss
  sphinx_nefertiti/__init__.py
  sphinx_nefertiti/colorsets-dropdown.html
  sphinx_nefertiti/colorsets/colorsets.js
  sphinx_nefertiti/colorsets/sphinx-nefertiti-blue.min.css
  sphinx_nefertiti/colorsets/sphinx-nefertiti-default.min.css
  sphinx_nefertiti/colorsets/sphinx-nefertiti-green.min.css
  sphinx_nefertiti/colorsets/sphinx-nefertiti-indigo.min.css
  sphinx_nefertiti/colorsets/sphinx-nefertiti-orange.min.css
  sphinx_nefertiti/colorsets/sphinx-nefertiti-pink.min.css
  sphinx_nefertiti/colorsets/sphinx-nefertiti-purple.min.css
  sphinx_nefertiti/colorsets/sphinx-nefertiti-red.min.css
  sphinx_nefertiti/colorsets/sphinx-nefertiti-teal.min.css
  sphinx_nefertiti/colorsets/sphinx-nefertiti-yellow.min.css
  sphinx_nefertiti/static/sphinx-nefertiti.min.js
  sphinx_nefertiti/static/sphinx-nefertiti.min.js.map
Due: js-lint, css-lint-stylelint

Update Changelog
  ChangeLog.md
Due: none

Update package-lock.json
  package-lock.json
Due: none

Prepare release 0.5.2 (#44)
  ChangeLog.md
  docs/source/users-guide/customization/colorsets.rst
  js/src/cschemes.js
  package-lock.json
  package.json
  pyproject.toml
  scss/_variables-blue.scss
  scss/_variables-cyan.scss
  scss/_variables-green.scss
  scss/_variables-indigo.scss
  scss/_variables-orange.scss
  scss/_variables-pink.scss
  scss/_variables-purple.scss
  scss/_variables-red.scss
  scss/_variables-teal.scss
  scss/_variables-yellow.scss
  sphinx_nefertiti/__init__.py
  sphinx_nefertiti/colorsets-dropdown.html
  sphinx_nefertiti/colorsets/colorsets.js
  sphinx_nefertiti/colorsets/sphinx-nefertiti-blue.min.css
  sphinx_nefertiti/colorsets/sphinx-nefertiti-default.min.css
  sphinx_nefertiti/colorsets/sphinx-nefertiti-green.min.css
  sphinx_nefertiti/colorsets/sphinx-nefertiti-indigo.min.css
  sphinx_nefertiti/colorsets/sphinx-nefertiti-orange.min.css
  sphinx_nefertiti/colorsets/sphinx-nefertiti-pink.min.css
  sphinx_nefertiti/colorsets/sphinx-nefertiti-purple.min.css
  sphinx_nefertiti/colorsets/sphinx-nefertiti-red.min.css
  sphinx_nefertiti/colorsets/sphinx-nefertiti-teal.min.css
  sphinx_nefertiti/colorsets/sphinx-nefertiti-yellow.min.css
  sphinx_nefertiti/static/sphinx-nefertiti.min.js
  sphinx_nefertiti/static/sphinx-nefertiti.min.js.map
Due: js-lint, css-lint-stylelint

Add READTHEDOCS to context
  sphinx_nefertiti/__init__.py
Due: none

RTD: versions no longer available in context
  docs/source/conf.py
  js/src/versions.js
  sphinx_nefertiti/__init__.py
  sphinx_nefertiti/docsver.py
  sphinx_nefertiti/static/sphinx-nefertiti.min.js
  sphinx_nefertiti/static/sphinx-nefertiti.min.js.map
  sphinx_nefertiti/version-dropdown.html
  tests/test_sample_projects.py
Due: js-lint

Include header-links in the quick-start guide
  docs/source/quick-start.rst
  docs/source/users-guide/customization/version-dropdown.rst
Due: none

Update version numbers
  ChangeLog.md
  package.json
  sphinx_nefertiti/__init__.py
Due: none

In RTD, versions are no longer available in HTML context (#45)
  ChangeLog.md
  docs/source/conf.py
  docs/source/quick-start.rst
  docs/source/users-guide/customization/version-dropdown.rst
  js/src/versions.js
  package.json
  sphinx_nefertiti/__init__.py
  sphinx_nefertiti/docsver.py
  sphinx_nefertiti/static/sphinx-nefertiti.min.js
  sphinx_nefertiti/static/sphinx-nefertiti.min.js.map
  sphinx_nefertiti/version-dropdown.html
  tests/test_sample_projects.py
Due: js-lint

Prepare release 0.6.0
  ChangeLog.md
  js/src/index.js
  js/src/pagetoc.js
  package.json
  scss/_theme.scss
  scss/_variables-blue.scss
  scss/_variables-cyan.scss
  scss/_variables-green.scss
  scss/_variables-indigo.scss
  scss/_variables-orange.scss
  scss/_variables-pink.scss
  scss/_variables-purple.scss
  scss/_variables-red.scss
  scss/_variables-teal.scss
  scss/_variables-yellow.scss
  scss/components/_toc.scss
  sphinx_nefertiti/__init__.py
  sphinx_nefertiti/colorsets/sphinx-nefertiti-blue.min.css
  sphinx_nefertiti/colorsets/sphinx-nefertiti-blue.min.css.map
  sphinx_nefertiti/colorsets/sphinx-nefertiti-default.min.css
  sphinx_nefertiti/colorsets/sphinx-nefertiti-default.min.css.map
  sphinx_nefertiti/colorsets/sphinx-nefertiti-green.min.css
  sphinx_nefertiti/colorsets/sphinx-nefertiti-green.min.css.map
  sphinx_nefertiti/colorsets/sphinx-nefertiti-indigo.min.css
  sphinx_nefertiti/colorsets/sphinx-nefertiti-indigo.min.css.map
  sphinx_nefertiti/colorsets/sphinx-nefertiti-orange.min.css
  sphinx_nefertiti/colorsets/sphinx-nefertiti-orange.min.css.map
  sphinx_nefertiti/colorsets/sphinx-nefertiti-pink.min.css
  sphinx_nefertiti/colorsets/sphinx-nefertiti-pink.min.css.map
  sphinx_nefertiti/colorsets/sphinx-nefertiti-purple.min.css
  sphinx_nefertiti/colorsets/sphinx-nefertiti-purple.min.css.map
  sphinx_nefertiti/colorsets/sphinx-nefertiti-red.min.css
  sphinx_nefertiti/colorsets/sphinx-nefertiti-red.min.css.map
  sphinx_nefertiti/colorsets/sphinx-nefertiti-teal.min.css
  sphinx_nefertiti/colorsets/sphinx-nefertiti-teal.min.css.map
  sphinx_nefertiti/colorsets/sphinx-nefertiti-yellow.min.css
  sphinx_nefertiti/colorsets/sphinx-nefertiti-yellow.min.css.map
  sphinx_nefertiti/static/sphinx-nefertiti.min.js
  sphinx_nefertiti/static/sphinx-nefertiti.min.js.map
Due: js-lint, css-lint-stylelint

List prev v0.5.3 in the version dropdown
  docs/source/conf.py
Due: none

Path conditions:
  js-lint: any of: \.(js|mjs|cjs)$, but not: (?x)(
  ^dist|
  ^sphinx_nefertiti/colorsets|
  ^sphinx_nefertiti/static|
  ^docs/source/static/
)

  css-lint-stylelint: any of: \.scss$, but not: (?x)(
  ^dist|
  ^sphinx_nefertiti/colorsets|
  ^sphinx_nefertiti/static|
  ^docs/source/static/
)

