Repository danirus/sphinx-nefertiti: changes, and which pre-commit hooks are due for each by the changed paths.
All: js-lint, css-lint-stylelint

.pre-commit-config.yaml:

---
exclude: |
  (?x)(
    ^dist|
    ^sphinx_nefertiti/colorsets|
    ^sphinx_nefertiti/static|
    ^docs/source/static/
  )

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-json
      - id: check-yaml
      - id: check-merge-conflict
      - id: debug-statements
      - id: end-of-file-fixer
      - id: trailing-whitespace
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.1.4
    hooks:
      - id: ruff
        args:
          - "--fix"
      - id: ruff-format

  - repo: local
    hooks:
      - id: js-lint
        name: local-js-lint
        entry: npm run js-lint --
        language: node
        types: [javascript]
      - id: css-lint-stylelint
        name: local-css-lint-stylelint
        entry: npm run css-lint-stylelint --
        language: node
        types: [scss]

Fix: CSS precendence, sidebars' stickyness
  ChangeLog.md
  js/src/index.js
  js/src/tocresize.js
  package.json
  scss/_layout.scss
  scss/components/_toc.scss
  sphinx_nefertiti/__init__.py
  sphinx_nefertiti/colorsets/sphinx-nefertiti-blue.min.css
  sphinx_nefertiti/colorsets/sphinx-nefertiti-blue.min.css.map
  sphinx_nefertiti/colorsets/sphinx-nefertiti-default.min.css
  sphinx_nefertiti/colorsets/sphinx-nefertiti-default.min.css.map
  sphinx_nefertiti/colorsets/sphinx-nefertiti-green.min.css
  sphinx_nefertiti/colorsets/sphinx-nefertiti-green.min.css.map
  sphinx_nefertiti/colorsets/sphinx-nefertiti-indigo.min.css
  sphinx_nefertiti/colorsets/sphinx-nefertiti-indigo.min.css.map
  sphinx_nefertiti/colorsets/sphinx-nefertiti-orange.min.css
  sphinx_nefertiti/colorsets/sphinx-nefertiti-orange.min.css.map
  sphinx_nefertiti/colorsets/sphinx-nefertiti-pink.min.css
  sphinx_nefertiti/colorsets/sphinx-nefertiti-pink.min.css.map
  sphinx_nefertiti/colorsets/sphinx-nefertiti-purple.min.css
  sphinx_nefertiti/colorsets/sphinx-nefertiti-purple.min.css.map
  sphinx_nefertiti/colorsets/sphinx-nefertiti-red.min.css
  sphinx_nefertiti/colorsets/sphinx-nefertiti-red.min.css.map
  sphinx_nefertiti/colorsets/sphinx-nefertiti-teal.min.css
  sphinx_nefertiti/colorsets/sphinx-nefertiti-teal.min.css.map
  sphinx_nefertiti/colorsets/sphinx-nefertiti-yellow.min.css
  sphinx_nefertiti/colorsets/sphinx-nefertiti-yellow.min.css.map
  sphinx_nefertiti/layout.html
  sphinx_nefertiti/static/sphinx-nefertiti.min.js
  sphinx_nefertiti/static/sphinx-nefertiti.min.js.map
Due: js-lint, css-lint-stylelint

Remove no longer needed test module
  js/tests/unit/tocresize.spec.js
Due: js-lint

Fix issue #101
  ChangeLog.md
  docs/source/conf.py
  js/src/index.js
  js/src/tocresize.js
  js/tests/unit/tocresize.spec.js
  package.json
  sphinx_nefertiti/__init__.py
  sphinx_nefertiti/layout.html
  sphinx_nefertiti/static/sphinx-nefertiti.min.js
  sphinx_nefertiti/static/sphinx-nefertiti.min.js.map
Due: js-lint

Set asides height when content is fully loaded
  ChangeLog.md
  js/src/index.js
  package.json
  sphinx_nefertiti/__init__.py
  sphinx_nefertiti/static/sphinx-nefertiti.min.js
  sphinx_nefertiti/static/sphinx-nefertiti.min.js.map
Due: js-lint

Check branch in RTD
  js/src/index.js
  js/src/tocresize.js
  package.json
  sphinx_nefertiti/static/sphinx-nefertiti.min.js
  sphinx_nefertiti/static/sphinx-nefertiti.min.js.map
Due: js-lint

Update js bundle
  sphinx_nefertiti/static/sphinx-nefertiti.min.js
  sphinx_nefertiti/static/sphinx-nefertiti.min.js.map
Due: none

Put the resize_observer to observe
  ChangeLog.md
  js/src/index.js
  package.json
  sphinx_nefertiti/__init__.py
  sphinx_nefertiti/static/sphinx-nefertiti.min.js
  sphinx_nefertiti/static/sphinx-nefertiti.min.js.map
Due: js-lint

Remove console.logs
  js/src/index.js
  js/src/tocresize.js
Due: js-lint

put the ResizeObserver to observe
  ChangeLog.md
  js/src/index.js
  package.json
  sphinx_nefertiti/__init__.py
  sphinx_nefertiti/static/sphinx-nefertiti.min.js
  sphinx_nefertiti/static/sphinx-nefertiti.min.js.map
Due: js-lint

Add an accessible label to table expand.
  js/src/tables.js
  js/tests/unit/tables.spec.js
  sphinx_nefertiti/static/sphinx-nefertiti.min.js
  sphinx_nefertiti/static/sphinx-nefertiti.min.js.map
Due: js-lint

add sphinx 9 and python 3.14 to tox.ini.
  tox.ini
Due: none

add 3.14 as a supported python version.
  pyproject.toml
Due: none

prepare release 0.9.9
  ChangeLog.md
  package-lock.json
  package.json
  pyproject.toml
  sphinx_nefertiti/__init__.py
Due: none

Sync Sphinx version to build in rtd.org
  pyproject.toml
Due: none

finish/fix tox config and test workflow. (#109)
  .github/workflows/tests.yaml
  tox.ini
Due: none

Try to fix syntax-check workflow
  .github/workflows/tests.yaml
  .pre-commit-config.yaml
Due: none

Update pre-commit version
  .pre-commit-config.yaml
Due: none

Add newline ending as expected by pre-commit
  docs/source/static/nftt-pygments.min.css
  docs/source/static/nftt-pygments.min.css.map
  sphinx_nefertiti/colorsets-dropdown.html
  sphinx_nefertiti/colorsets/colorsets.js
  sphinx_nefertiti/colorsets/sphinx-nefertiti-blue.min.css
  sphinx_nefertiti/colorsets/sphinx-nefertiti-blue.min.css.map
  sphinx_nefertiti/colorsets/sphinx-nefertiti-default.min.css
  sphinx_nefertiti/colorsets/sphinx-nefertiti-default.min.css.map
  sphinx_nefertiti/colorsets/sphinx-nefertiti-green.min.css
  sphinx_nefertiti/colorsets/sphinx-nefertiti-green.min.css.map
  sphinx_nefertiti/colorsets/sphinx-nefertiti-indigo.min.css
  sphinx_nefertiti/colorsets/sphinx-nefertiti-indigo.min.css.map
  sphinx_nefertiti/colorsets/sphinx-nefertiti-orange.min.css
  sphinx_nefertiti/colorsets/sphinx-nefertiti-orange.min.css.map
  sphinx_nefertiti/colorsets/sphinx-nefertiti-pink.min.css
  sphinx_nefertiti/colorsets/sphinx-nefertiti-pink.min.css.map
  sphinx_nefertiti/colorsets/sphinx-nefertiti-purple.min.css
  sphinx_nefertiti/colorsets/sphinx-nefertiti-purple.min.css.map
  sphinx_nefertiti/colorsets/sphinx-nefertiti-red.min.css
  sphinx_nefertiti/colorsets/sphinx-nefertiti-red.min.css.map
  sphinx_nefertiti/colorsets/sphinx-nefertiti-teal.min.css
  sphinx_nefertiti/colorsets/sphinx-nefertiti-teal.min.css.map
  sphinx_nefertiti/colorsets/sphinx-nefertiti-yellow.min.css
  sphinx_nefertiti/colorsets/sphinx-nefertiti-yellow.min.css.map
  sphinx_nefertiti/static/bootstrap.bundle.min.js
  sphinx_nefertiti/static/sphinx-nefertiti.min.js
  sphinx_nefertiti/static/sphinx-nefertiti.min.js.map
  tests/test_sample_projects.py
Due: none

Use nodejs 26
  .github/workflows/tests.yaml
Due: none

Update version of multiple dependencies
  .pre-commit-config.yaml
  package-lock.json
  package.json
Due: none

Linting changes
  js/src/backtotop.js
  js/src/index.js
  js/src/locales.js
  js/src/navbar.js
  js/src/pagetoc.js
  js/src/tables.js
  js/src/tocresize.js
  js/src/versions.js
  js/tests/unit/cschemes.spec.js
  js/tests/unit/github.spec.js
  js/tests/unit/gitlab.spec.js
  js/tests/unit/repometrics.spec.js
  js/tests/unit/tables.spec.js
  js/tests/unit/tocresize.spec.js
Due: js-lint

Linting changes
  js/src/menu.js
Due: js-lint

s/node/system/ in local pre-commit
  .pre-commit-config.yaml
Due: none

Fix 112: Center Graphviz SVG images
  ChangeLog.md
  package.json
  scss/components/_images.scss
  sphinx_nefertiti/__init__.py
  sphinx_nefertiti/colorsets/sphinx-nefertiti-blue.min.css
  sphinx_nefertiti/colorsets/sphinx-nefertiti-blue.min.css.map
  sphinx_nefertiti/colorsets/sphinx-nefertiti-default.min.css
  sphinx_nefertiti/colorsets/sphinx-nefertiti-default.min.css.map
  sphinx_nefertiti/colorsets/sphinx-nefertiti-green.min.css
  sphinx_nefertiti/colorsets/sphinx-nefertiti-green.min.css.map
  sphinx_nefertiti/colorsets/sphinx-nefertiti-indigo.min.css
  sphinx_nefertiti/colorsets/sphinx-nefertiti-indigo.min.css.map
  sphinx_nefertiti/colorsets/sphinx-nefertiti-orange.min.css
  sphinx_nefertiti/colorsets/sphinx-nefertiti-orange.min.css.map
  sphinx_nefertiti/colorsets/sphinx-nefertiti-pink.min.css
  sphinx_nefertiti/colorsets/sphinx-nefertiti-pink.min.css.map
  sphinx_nefertiti/colorsets/sphinx-nefertiti-purple.min.css
  sphinx_nefertiti/colorsets/sphinx-nefertiti-purple.min.css.map
  sphinx_nefertiti/colorsets/sphinx-nefertiti-red.min.css
  sphinx_nefertiti/colorsets/sphinx-nefertiti-red.min.css.map
  sphinx_nefertiti/colorsets/sphinx-nefertiti-teal.min.css
  sphinx_nefertiti/colorsets/sphinx-nefertiti-teal.min.css.map
  sphinx_nefertiti/colorsets/sphinx-nefertiti-yellow.min.css
  sphinx_nefertiti/colorsets/sphinx-nefertiti-yellow.min.css.map
  sphinx_nefertiti/layout.html
  sphinx_nefertiti/static/bootstrap.bundle.min.js
  sphinx_nefertiti/static/sphinx-nefertiti.min.js
  sphinx_nefertiti/static/sphinx-nefertiti.min.js.map
Due: css-lint-stylelint

remove stackoverflow link from tests
  tests/sample_prj_1/index.rst
Due: none

Fixes #112: Graphviz object are not centered when requested (#113)
  ChangeLog.md
  package.json
  scss/components/_images.scss
  sphinx_nefertiti/__init__.py
  sphinx_nefertiti/colorsets/sphinx-nefertiti-blue.min.css
  sphinx_nefertiti/colorsets/sphinx-nefertiti-blue.min.css.map
  sphinx_nefertiti/colorsets/sphinx-nefertiti-default.min.css
  sphinx_nefertiti/colorsets/sphinx-nefertiti-default.min.css.map
  sphinx_nefertiti/colorsets/sphinx-nefertiti-green.min.css
  sphinx_nefertiti/colorsets/sphinx-nefertiti-green.min.css.map
  sphinx_nefertiti/colorsets/sphinx-nefertiti-indigo.min.css
  sphinx_nefertiti/colorsets/sphinx-nefertiti-indigo.min.css.map
  sphinx_nefertiti/colorsets/sphinx-nefertiti-orange.min.css
  sphinx_nefertiti/colorsets/sphinx-nefertiti-orange.min.css.map
  sphinx_nefertiti/colorsets/sphinx-nefertiti-pink.min.css
  sphinx_nefertiti/colorsets/sphinx-nefertiti-pink.min.css.map
  sphinx_nefertiti/colorsets/sphinx-nefertiti-purple.min.css
  sphinx_nefertiti/colorsets/sphinx-nefertiti-purple.min.css.map
  sphinx_nefertiti/colorsets/sphinx-nefertiti-red.min.css
  sphinx_nefertiti/colorsets/sphinx-nefertiti-red.min.css.map
  sphinx_nefertiti/colorsets/sphinx-nefertiti-teal.min.css
  sphinx_nefertiti/colorsets/sphinx-nefertiti-teal.min.css.map
  sphinx_nefertiti/colorsets/sphinx-nefertiti-yellow.min.css
  sphinx_nefertiti/colorsets/sphinx-nefertiti-yellow.min.css.map
  sphinx_nefertiti/layout.html
  sphinx_nefertiti/static/bootstrap.bundle.min.js
  sphinx_nefertiti/static/sphinx-nefertiti.min.js
  sphinx_nefertiti/static/sphinx-nefertiti.min.js.map
  tests/sample_prj_1/index.rst
Due: css-lint-stylelint
